.client-detail{
    display: flex;
    flex-direction: column;
    z-index: auto;
    margin: 50px 20px 0px 40px;
}

.inpt1{
    padding: 20px 0px 20px 40px;
    font-size: 20px;
    margin-bottom: 50px;
    border: #000 solid;
    border-radius: 10px;
}

.inpt2{
    padding: 20px 0px 20px 40px;
    font-size: 20px;
    margin-bottom: 50px;
    border: #000 solid;
    border-radius: 10px;
}

.inpt3{
    padding: 20px 0px 20px 40px;
    font-size: 20px;
    margin-bottom: 50px;
    border: #000 solid;
    border-radius: 10px;
}

.inpt4{
    padding: 20px 0px 20px 40px;
    font-size: 20px;
    margin-bottom: 50px;
    border: #000 solid;
    border-radius: 10px;
}

.inpt5{
    padding: 30px 0px 10px 20px;
    font-size: 20px;
    margin-bottom: 50px;
    border: #000 solid;
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
    margin-left: 40px;
}
.label1,.label2{
    font-size: 30px;
    font-weight: bold;
    margin-right: 100px;
}
.label2{
    margin-right: 130px;
}

.label3,.label4, .label5{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    
}


.label3{
    width: 78%;
    margin-left: 40px;
}

.h-fitt{
 margin-right: 70px;
}

.h-price{
    margin-right: 190px;
}

.h-gender{
    margin-right: 160px;
}